.cards {
  display: grid;
  grid-gap: 48px;
  margin-top: -64px;

  @screen md {
    margin-top: -88px;
  }

  @screen lg {
    margin-top: -112px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
  }
}
