.grid {
  @apply w-full max-w-full leading-none p-2 rounded-sm;
}

.gridSeamless {
  @apply p-0;
}

.gridContent {
  display: grid;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.gridContent > * {
  @apply p-0 m-0 min-w-0 min-h-0;
}

.gridSeamless .gridContent > figure {
  @apply p-2;
}

.gridContent figure img {
  @apply m-0;
}

.gridContent > pre code {
  @apply h-full;
}

:global(.light) {
  .grid {
    @apply bg-gray-100;
  }

  .gridSeamless {
    @apply bg-transparent;
  }
}

:global(.dark) {
  .grid {
    @apply bg-gray-900;
  }

  .gridSeamless {
    @apply bg-transparent;
  }
}
