/* The main cover, with the field background */
.cover {
  @apply bg-cover bg-center relative;
  background-image: url('./field.jpg');
  height: 340px;

  @screen sm {
    height: 380px;
  }

  @screen md {
    height: 420px;
  }

  @screen xl {
    height: 475px;
  }
}

/* The top gradient overlay: for header elements */
.cover::before {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  height: 40%;
  background-image:
    linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0) 100%
    );
}

/* The bottom gradient overlay: for the cover text */
.cover::after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  height: 80%;
  background-image:
    linear-gradient(
      180deg,
      rgba(196, 196, 196, 0) 0%,
      rgba(0, 0, 0, 0.84) 100%
    );
}

/* The robot image */
.coverImage {
  @apply absolute h-full w-full bg-contain bg-no-repeat bg-bottom bottom-0 left-0 right-0;
  background-image: url('./nugus.png');
  background-size: 125%;

  @screen xxs {
    background-size: 110%;
  }

  @screen xs {
    background-size: 90%;
  }

  @screen sm {
    background-size: contain;
    height: 360px;
  }

  @screen md {
    background-position: bottom right;
  }

  @screen xl {
    height: 380px;
  }
}
