@import '~katex/dist/katex.min.css';

/* purgecss start ignore */

/**
 * This injects Tailwind's base styles, which is a combination of
 * normalize.css and some additional base styles.
 */
@tailwind base;

/* purgecss end ignore */

/**
 * This injects all of Tailwind's utility classes, generated based
 * on the tailwind.config.js config file.
 */
@tailwind utilities;

/* Reset the body text color */
body {
  color: rgba(0, 0, 0, 0.87);
}

/*
  This will hide the focus indicator if an element receives focus via the mouse,
  but it will still show up on keyboard focus.
*/
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

/*
  Algolia search dropdown styling
*/

/* purgecss start ignore */

.algolia-autocomplete {
  width: 100%;
}

.algolia-autocomplete .ds-dropdown-menu {
  max-width: 100% !important;
  width: 100%;
}

.algolia-autocomplete .algolia-docsearch-suggestion--highlight {
  @apply text-nubots-700 !important;
}

.algolia-autocomplete
  .algolia-docsearch-suggestion--category-header
  .algolia-docsearch-suggestion--category-header-lvl0
  .algolia-docsearch-suggestion--highlight,
.algolia-autocomplete
  .algolia-docsearch-suggestion--category-header
  .algolia-docsearch-suggestion--category-header-lvl1
  .algolia-docsearch-suggestion--highlight,
.algolia-autocomplete
  .algolia-docsearch-suggestion--text
  .algolia-docsearch-suggestion--highlight {
  box-shadow: inset 0 -2px 0 0 #f9a50d !important;
}

@media (max-width: 768px) {
  .algolia-autocomplete .ds-dropdown-menu {
    min-width: auto !important;
    max-width: none !important;
    margin-right: -48px !important;
    width: calc(100vw - 48px);

    &::before {
      display: none !important;
    }
  }
}

/* purgecss end ignore */
