@import '~katex/dist/katex.min.css';

/**
 * This injects Tailwind's base styles, which is a combination of
 * normalize.css and some additional base styles.
 */
/* purgecss start ignore */
@tailwind base;
/* purgecss end ignore */

/**
 * This injects all of Tailwind's utility classes, generated based
 * on the tailwind.config.js config file.
 */
@tailwind utilities;

.max-w-screen-xl {
  max-width: 1280px;
}

/*
  This will hide the focus indicator if an element receives focus via the mouse,
  but it will still show up on keyboard focus.
*/
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
