@import '~katex/dist/katex.min.css';

/* purgecss start ignore */

/**
 * This injects Tailwind's base styles, which is a combination of
 * normalize.css and some additional base styles.
 */
@tailwind base;

/* purgecss end ignore */

/**
 * This injects all of Tailwind's utility classes, generated based
 * on the tailwind.config.js config file.
 */
@tailwind utilities;

/* Reset the body text color */
body {
  color: rgba(0, 0, 0, 0.87);
}

/*
  This will hide the focus indicator if an element receives focus via the mouse,
  but it will still show up on keyboard focus.
*/
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.remark-graphviz-figure {
  @apply p-2 bg-gray-100 leading-none;
}

.remark-graphviz-figcaption {
  @apply pt-3 italic text-base;
}
