@import '~katex/dist/katex.min.css';

/* purgecss start ignore */

/**
 * This injects Tailwind's base styles, which is a combination of
 * normalize.css and some additional base styles.
 */
@tailwind base;

/* purgecss end ignore */

/**
 * This injects all of Tailwind's utility classes, generated based
 * on the tailwind.config.js config file.
 */
@tailwind utilities;

html {
  &.light {
    color-scheme: light;
  }

  &.dark {
    color-scheme: dark;
  }
}

/* Reset the body text color */
body {
  .light & {
    color: theme('colors.primary');
    background-color: theme('colors.white');
  }

  .dark & {
    color: theme('colors.primary-inverted');
    background-color: theme('colors.gray.950');
  }
}

/* purgecss start ignore */

/*
  This will hide the focus indicator if an element receives focus via the mouse,
  but it will still show up on keyboard focus.
*/
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

/**
 * Remark Graphviz
 */
.remark-graphviz-figure {
  @apply p-3 rounded bg-gray-100 dark:bg-gray-900 leading-none;

  /* Allow the graph to overflow and scroll on small screens */
  .remark-graphviz-graph {
    overflow: auto;
  }

  svg {
    /* Center the graph in the figure */
    display: block;
    margin: 0 auto;
    fill: currentColor;

    /* Make the graph background transparent */
    g.graph > path:first-child {
      fill: transparent;
    }

    text {
      font-family: inherit;
    }

    *[stroke='#000'],
    *[stroke='#000000'] {
      stroke: currentColor;
    }

    *[fill='#000'],
    *[fill='#000000'] {
      fill: currentColor;
    }
  }
}

@media (min-width: 768px) {
  /* Scale the graph to fit the figure on larger screens */
  svg {
    max-width: 100%;
  }
}

.remark-graphviz-figcaption {
  @apply pt-3 italic text-base;
}

/* purgecss end ignore */
