.alert {
  @apply max-w-full p-4 flex items-center border-2 rounded-md;
}

.alertContent {
  @apply -mt-1 w-full;
}

.alertContent p {
  @apply text-base mt-3;

  &:first-child {
    @apply mt-0;
  }
}

.alertContent code {
  @apply inline-block;
  @apply rounded-sm;
  @apply text-sm;
  @apply px-1;
  @apply leading-none;
  @apply whitespace-nowrap;
  @apply font-mono;
  @apply align-baseline;
  @apply font-normal;
}

.alertIcon {
  @apply mr-4 self-start;
}

:global(.light) {
  .alertContent code {
    @apply text-red-600;
  }

  .alertInfo {
    @apply border-blue-400;
    background-color: rgba(33, 150, 243, 0.12);
  }

  .alertInfo .alertIcon {
    @apply text-blue-500;
  }

  .alertWarning {
    @apply border-orange-400;
    background-color: rgba(255, 152, 0, 0.12);
  }

  .alertWarning .alertIcon {
    @apply text-orange-500;
  }
}

:global(.dark) {
  .alertContent code {
    @apply text-red-500;
  }

  .alertInfo {
    @apply border-blue-400;
    background-color: rgba(33, 150, 243, 0.12);
  }

  .alertInfo .alertIcon {
    @apply text-blue-400;
  }

  .alertWarning {
    @apply border-orange-400;
    background-color: rgba(255, 152, 0, 0.12);
  }

  .alertWarning .alertIcon {
    @apply text-orange-400;
  }
}
