.navButtonsGrid {
  display: grid;
  grid-gap: 32px;

  @screen lg {
    grid-template-columns: 1fr 1fr;
  }

  @screen 2xl {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.navCardsGrid {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 1fr 1fr 1fr;
}

.selectedButtonIndicator {
  width: 72px;
  height: 72px;
  top: -42px;
  left: 302px;
}
