.markdown {
  /* ============================
   * Base text color and line height
   * ============================ */
  @apply text-primary leading-relaxed;

  /* ============================
   * Vertical rythm
   * ============================ */
  &,
  blockquote,
  details {
    > *:first-child {
      @apply mt-0;
    }

    > * + * {
      @apply mt-6;
    }
  }

  [data-alert-content] {
    > *:first-child {
      @apply mt-0;
    }

    > * + * {
      @apply mt-4;
    }
  }

  ul > * + *,
  ol > * + * {
    @apply mt-3;
  }

  /* ============================
   * Separator
   * ============================ */
  hr {
    @apply border-t-0 border-r-0 border-l-0 border-b-2 border-gray-200 my-16;
  }

  a {
    @apply text-nubots-700;
    @apply underline break-words;

    strong {
      @apply font-bold;
    }

    code {
      @apply p-1;
      @apply font-semibold;
      @apply text-nubots-700;
    }
  }

  /* ============================
   * Bold text
   * ============================ */
  strong {
    @apply font-semibold;
  }

  /* ============================
   * Inline code
   * ============================ */
  :not(pre) > code {
    @apply inline-block;
    @apply rounded-sm;
    @apply text-sm;
    @apply px-1;
    @apply leading-none;
    @apply whitespace-pre-line;
    @apply text-red-600;
    @apply font-mono;
    @apply align-baseline;
    @apply font-normal;
    background-color: rgba(0, 0, 0, 0.04);
  }

  strong code {
    @apply font-semibold;
  }

  /* ============================
   * Code blocks
   * ============================ */
  pre {
    @apply flex p-0 text-sm leading-normal font-mono rounded font-normal;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    code {
      @apply p-4;
      overflow-x: auto;

      &::-webkit-scrollbar {
        width: 0.7rem;
        height: 0.7rem;
      }

      &::-webkit-scrollbar-track {
        @apply bg-gray-300;
      }

      &::-webkit-scrollbar-thumb {
        @apply bg-gray-500;
      }
    }
  }

  /* ============================
   * Keyboard commands
   * ============================ */
  kbd {
    @apply inline-block text-sm align-middle font-mono font-semibold rounded-sm;
    padding: 3px 5px;
    line-height: 12px;
    color: #444d56;
    background-color: #fafbfc;
    border: 1px solid #d1d5da;
    box-shadow: inset 0 -1px 0 #d1d5da;
  }

  /* ============================
   * Blockquotes
   * ============================ */
  blockquote {
    @apply bg-gray-100;
    @apply p-4;
    @apply border-l-4 border-gray-200;
    @apply text-primary;
    @apply text-base;
  }

  /* ============================
   * Headings
   * ============================ */
  h1 {
    @apply mb-1;
    @apply leading-none;
    @apply text-primary;
    @apply font-light;
    @apply text-3xl;
  }

  h2 {
    @apply mt-10;
    @apply mb-4;
    @apply text-primary;
    @apply leading-none;
    @apply font-semibold;
    @apply text-2xl;
  }

  h2 + h3 {
    @apply mt-6;
  }

  h3 {
    @apply mt-12 -mb-3;
    @apply text-primary;
    @apply leading-tight;
    @apply font-semibold;
    @apply text-xl;
  }

  h4 {
    @apply mb-0;
    @apply text-primary;
    @apply leading-snug;
    @apply font-semibold;
    @apply text-lg;
  }

  h5 {
    @apply text-primary;
    @apply leading-snug;
    @apply font-semibold;
    @apply text-base;
  }

  h1 + p {
    @apply mt-8;
  }

  h1 > code,
  h2 > code,
  h3 > code,
  h4 > code,
  h5 > code {
    @apply text-red-600 font-mono;
    font-size: inherit;
  }

  h3 > code {
    @apply text-lg px-1 bg-gray-100 rounded;
  }

  h4 > code {
    @apply text-base px-1 bg-gray-100 rounded;
  }

  h5 > code {
    @apply text-base px-1 bg-gray-100;
  }

  p {
    @apply text-base;
    @apply mt-6;

    &:first-child {
      margin-top: 0;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply relative;

    a[data-anchor] {
      @apply absolute flex items-center opacity-0 pl-2 w-8;
      left: -32px;
      top: -4px;
      bottom: -4px;
    }

    &:hover a[data-anchor],
    a[data-anchor]:hover,
    a[data-anchor]:focus {
      @apply opacity-100;
    }
  }

  /* ============================
   * Lists
   * ============================ */
  ul {
    @apply pl-0 list-none;

    > li {
      @apply relative pl-10;

      &::before {
        @apply absolute left-0 top-0 ml-4 inline-block mr-3 text-icon;
        content: '\25CF'; /* Bullet symbol */
      }
    }
  }

  ol {
    list-style-type: none;
    counter-reset: item;

    > li {
      @apply relative pl-10;
    }

    > li::before {
      @apply absolute top-0 left-0 mt-px ml-1;
      @apply flex items-center justify-center;
      @apply h-6 w-6 rounded-full;
      @apply text-primary text-xs font-bold;
      background-color: rgba(0, 0, 0, 0.07);
      content: counter(item);
      counter-increment: item;
    }
  }

  ol,
  ul {
    ul,
    ol {
      @apply mt-2;
    }

    p,
    pre,
    blockquote,
    details,
    figure,
    table,
    [data-alert] {
      @apply mt-3;

      &:first-child {
        @apply mt-0;
      }
    }
  }

  :not(pre):not(h1):not(h2):not(h3):not(h4) > code,
  ul code,
  ol code {
    @apply text-sm leading-normal;
  }

  /* ============================
   * Tables
   * ============================ */
  table {
    @apply w-full text-left;
    border-collapse: collapse !important;

    th {
      @apply text-sm font-semibold text-primary p-2 bg-gray-100;
    }

    td {
      @apply p-2 border-t border-gray-200 text-sm;

      code {
        @apply bg-gray-100 px-1 font-mono text-xs text-red-700 align-baseline;
      }

      &:first-child {
        @apply border-gray-300;
      }
    }
  }

  /* ============================
   * Math
   * ============================ */
  :global(.katex-display) {
    @apply mb-0;
  }

  /* ============================
   * Collapsible sections
   * ============================ */
  details summary {
    @apply select-none cursor-pointer;
  }

  > details {
    @apply border-b border-gray-200;
  }

  > details[open] {
    @apply pt-4;
  }

  > details summary {
    @apply bg-gray-200 py-2 px-4;
  }

  > details[open] > summary {
    @apply -mt-4 -mx-4;
  }

  > details summary + p {
    @apply mt-3;
  }
}
