.markdown {
  /* ============================
   * Base text color and line height
   * ============================ */
  @apply text-primary;
  @apply leading-relaxed;

  /* ============================
   * Vertical rythm
   * ============================ */
  > *:first-child {
    @apply mt-0;
  }

  > * + * {
    @apply mt-6;
  }

  > ul > * + *,
  > ol > * + * {
    @apply mt-3;
  }

  /* ============================
   * Separator
   * ============================ */
  > hr {
    @apply border-t-0 border-r-0 border-l-0 border-b-2 border-gray-200;
    @apply my-16;
  }

  /* ============================
   * Links
   * ============================ */
  > a,
  > p a,
  > ul li a,
  > ol li a,
  a& {
    @apply text-nubots-700;
    @apply underline;

    strong {
      @apply font-bold;
    }

    code {
      @apply p-1;
      @apply font-semibold;
      @apply text-nubots-700;
    }
  }

  /* ============================
   * Bold text
   * ============================ */
  > p strong,
  > ul strong {
    @apply font-semibold;
  }

  /* ============================
   * Inline code
   * ============================ */
  > p code,
  > ul li *:not(pre) code,
  > ul li > code,
  > ol li *:not(pre) code,
  > ol li > code,
  p& code& {
    @apply inline-block;
    @apply bg-gray-100;
    @apply rounded-sm;
    @apply text-sm;
    @apply px-1;
    @apply leading-none;
    @apply whitespace-no-wrap;
    @apply text-red-600;
    @apply font-mono;
    @apply align-baseline;
    @apply font-normal;
  }

  > p strong code,
  > ul li strong code,
  > ol li strong code {
    @apply font-semibold;
  }

  /* ============================
   * Code blocks
   * ============================ */
  > pre, pre& {
    @apply font-mono;
    @apply rounded;
    @apply font-normal;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    code {
      overflow-x: auto;

      &::-webkit-scrollbar {
        width: 0.5rem;
        height: 0.5rem;
      }

      &::-webkit-scrollbar-track {
        @apply bg-nubots-200;
      }

      &::-webkit-scrollbar-thumb {
        @apply bg-nubots-400;
      }
    }
  }

  /* ============================
   * Blockquotes
   * ============================ */
  > blockquote, blockquote& {
    @apply bg-gray-100;
    @apply p-4;
    @apply border-l border-l-4 border-gray-200;
    @apply italic;
    @apply text-primary;
    @apply text-base;
  }

  /* ============================
   * Headings
   * ============================ */
  > h1, h1& {
    @apply mb-1;
    @apply leading-none;
    @apply text-primary;
    @apply font-light;
    @apply text-3xl;
  }

  > h2, h2& {
    @apply mt-10;
    @apply mb-4;
    @apply text-primary;
    @apply leading-none;
    @apply font-semibold;
    @apply text-2xl;
  }

  > h2 + h3 {
    @apply mt-6;
  }

  > h3, h3& {
    @apply mt-12 -mb-3;
    @apply text-primary;
    @apply leading-tight;
    @apply font-semibold;
    @apply text-xl;
  }

  > h4, h4& {
    @apply mb-0;
    @apply text-primary;
    @apply leading-snug;
    @apply font-semibold;
    @apply text-lg;
  }

  > h5, h5& {
    @apply text-primary;
    @apply leading-snug;
    @apply font-semibold;
    @apply text-base;
  }

  > h1 + p {
    @apply mt-8;
  }

  > h1 > code,
  > h2 > code,
  > h3 > code,
  > h4 > code,
  > h5 > code {
    @apply text-red-600;
    @apply font-mono;
  }

  > h3 > code {
    @apply text-lg px-1 bg-gray-100 rounded;
  }

  > h4 > code {
    @apply text-base px-1 bg-gray-100 rounded;
  }

  > h5 > code {
    @apply text-base px-1 bg-gray-100;
  }

  > p, p&,
  > blockquote > p:not(:first-child) {
    @apply text-base;
    @apply mt-6;
  }

  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    @apply relative;

    a {
      @apply absolute flex items-center opacity-0 pl-2 w-8;
      left: -32px;
      top: -4px;
      bottom: -4px;
    }

    &:hover a,
    a:hover,
    a:focus {
      @apply opacity-100;
    }
  }

  /* ============================
   * Lists
   * ============================ */
  > ul {
    @apply pl-0 list-none;

    li {
      @apply relative pl-10;

      &::before {
        @apply absolute left-0 top-0 ml-4;
        @apply inline-block mr-3;
        @apply text-icon;
        content: "\25CF"; /* Bullet symbol */
      }
    }
  }

  > ol {
    @apply list-none;
    counter-reset: item;

    > li {
      @apply relative pl-10;
    }

    > li::before {
      @apply absolute top-0 left-0 mt-px ml-1;
      @apply flex items-center justify-center;
      @apply h-6 w-6 bg-gray-300 rounded-full;
      @apply text-primary text-xs font-bold;
      content: counter(item);
      counter-increment: item;
    }
  }

  > :not(pre):not(h1):not(h2):not(h3):not(h4) > code,
  > ul code,
  > ol code {
    @apply bg-gray-100;
    @apply text-sm;
    @apply leading-normal;
  }

  > pre, pre&,
  > ul li pre,
  > ol li pre {
    @apply flex p-0;
    @apply text-sm leading-normal;
  }

  > pre code, pre code&,
  > ul li pre code,
  > ol li pre code {
    @apply p-4;
  }

  /* ============================
   * Tables
   * ============================ */
  > table {
    @apply w-full text-left;
    border-collapse: collapse !important;

    th {
      @apply text-sm font-semibold text-primary p-2 bg-gray-100;
    }

    td {
      @apply p-2 border-t border-gray-200 text-sm;

      code {
        @apply bg-gray-100 px-1 font-mono text-xs text-red-700 align-baseline;
      }

      &:first-child {
        @apply border-gray-300;
      }
    }
  }

  /* ============================
   * Math
   * ============================ */
  :global(.katex-display) {
    margin-bottom: 0;
  }
}
