.card {
  box-shadow: 0px 4px 56px rgba(0, 0, 0, 0.2);
  @apply relative z-10 bg-white rounded px-8 pt-6 pb-8 text-center mb-24 max-w-xl;

  &:first-child {
    margin-top: -64px;
  }

  @screen md {
    @apply px-10 pb-10;
  }

  @screen lg {
    @apply px-10 pb-10 mr-8;

    &:last-child {
      @apply mr-0;
    }
  }

  @screen md {
    &:first-child {
      margin-top: -88px;
    }
  }

  @screen lg {
    &,
    &:first-child {
      margin-top: -112px;
    }
  }
}

.cardIcon {
  width: 112px;
  height: 112px;
  background-color: #f9a50d;
  border: 3px solid white;
  margin-top: -112px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  @apply inline-flex items-center justify-center rounded-full text-white mb-6;

  svg {
    fill: currentColor;
  }
}
