.search:focus-within {
  .searchIcon {
    @apply text-icon;
  }
}

.backgroundSolid {
  @apply bg-gray-800 text-white;

  &:focus {
    @apply bg-white text-primary;
  }
}

.backgroundTransparent {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
  @apply text-white;

  &::placeholder {
    color: rgba(255, 255, 255, 0.54);
  }

  &:focus {
    @apply bg-white text-primary;
  }
}
