.sectionButtonWrapper {
  @apply block -mx-5;
  width: 110%; /* compensates for being shifted left with negative margin */

  &:not(:first-child) {
    @apply mt-2;
  }
}

.sectionButton {
  @apply flex w-full px-4 py-1 items-center justify-start rounded-full;
}

:global(.light) {
  .sectionButton {
    @apply text-nubots-700 border border-transparent bg-gray-100;

    &:hover,
    &:focus {
      background-color: rgba(249, 165, 13, 0.12);
    }
  }

  .sectionButtonActive {
    @apply text-white bg-nubots-500;

    &:hover,
    &:focus {
      @apply bg-nubots-500;
    }
  }
}

:global(.dark) {
  .sectionButton {
    @apply bg-gray-900 text-nubots-500;

    &:hover,
    &:focus {
      background-color: rgba(249, 165, 13, 0.12);
    }
  }

  .sectionButtonActive {
    @apply text-black bg-nubots-500;

    &:hover,
    &:focus {
      @apply bg-nubots-500;
    }
  }
}
