.chapterTitle {
  @apply text-sm uppercase tracking-wider font-semibold mb-2;
}

.link {
  @apply relative block py-1 mb-2 font-semibold leading-snug;

  :global(.light) & {
    &:hover,
    &:global(.focus-visible) {
      @apply text-nubots-700;
    }
  }

  :global(.dark) & {
    &:hover,
    &:global(.focus-visible) {
      @apply text-nubots-500;
    }
  }
}

.linkActive {
  :global(.light) & {
    &,
    &:hover,
    &:global(.focus-visible) {
      @apply text-primary;
    }
  }

  :global(.dark) & {
    &,
    &:hover,
    &:global(.focus-visible) {
      @apply text-nubots-500;
    }
  }

  &::before {
    @apply absolute bg-nubots-500 rounded w-2 h-2;
    content: '';
    left: -16px;
    top: 12px;
    animation: fade-and-scale-in 0.3s ease;

    @screen xl {
      left: -20px;
    }
  }
}

@keyframes fade-and-scale-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
